/*Footer  */
footer{
    font-weight:bold;
}
/*Home  */
.videoTop{
    padding-top:8px;
}
.videoSpacing{
    padding-bottom:10px;
}
/*About  */
.aboutText h3{
    font-family:italic;
}
.aboutImage{
    padding:0px !important;
}

/*Contact  */
.contactSection{
    padding-bottom:36px;
}
.contactImage{
    padding:0px !important;
}

@media only screen and (min-width : 768px) {
    .aboutText{
        padding-top:76px !important;
        padding-bottom:76px !important;
    }
}

