/*Shop  */
.comingSoon
    padding-top: 150px
    padding-bottom: 200px

.shopContainer
    padding-top: 10px

    img
        height: 400px
        
    h4 
        font-weight: bold
    h5
        font-weight: bold
        padding-bottom: 10px

.shopButton
    padding-bottom: 40px
    a
      color: black !important
      font-weight: bold
      border-style: solid
