{% load staticfiles %}
{% load seo %}
{% load google_analytics %}
{% load sass_tags %}
<!DOCTYPE HTML>
<html lang="en" ng-app="Wolfgang">
<head>
    <base href="/">
    <meta charset="UTF-8">
    {% get_metadata %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
<!--Favicon  -->
    <link rel="icon" href='{% static "img/favicon.png" %}' type="image/png">
<!--CSS  -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
    <link href="{% sass_src 'css/app.sass' %}" rel="stylesheet" type="text/css" />
    {% google_analytics %}
</head>
<body>
{% include "navigation_mb.html" %}

{% include "navigation_lg.html" %} 

<!--Views  -->
 {% block content %}{% endblock content %}
<script> window.csrf_token = "{{ csrf_token }}"; </script>

<!--Footer  -->
<footer>
    <div class="center-align">
    Wolfgang Douglas 2017 Copyright © All rights reserved.
    </div>
</footer>

<!--Javascript  -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src='{% static "js/angular/angular.min.js" %}'></script>
<script src='{% static "js/angular-ui-router/release/angular-ui-router.min.js" %}'></script>
<!--AngularScripts  -->
<script src='{% static "js/controllers/core.js" %}'></script>
<script src='{% static "js/routes/route.js" %}'></script>
<script src='{% static "js/services/service.js" %}'></script>
<!--Controllers  -->
<script src='{% static "js/controllers/contactCtrl.js" %}'></script>
<script src='{% static "js/controllers/homeCtrl.js" %}'></script>
<script src='{% static "js/controllers/shopCtrl.js" %}'></script>
<script src='{% static "js/controllers/productCtrl.js" %}'></script>

<script>
$( document ).ready(function() {
    $(".button-collapse").sideNav();

    $('.materialboxed').materialbox();

    $(".dropdown-button").dropdown({
        constrain_width: false,  
        gutter: 0, 
        belowOrigin: true         
    });
});
</script>

</body>
</html>
