<div ng-controller="shopController">
<div class="container">

        <div class="center comingSoon" style="[[ style ]]">
            <h1>Coming Soon!</h1>
        </div>


    <div ng-repeat="product in products | orderBy:'-id'">

    <div class="col s12 center shopSection">

        <img ng-src="[[ product.image ]]">

        <h4>[[ product.name ]]</h4>

        <h6>$ [[ product.price ]]</h6>

        <button type="submit"class="white btn waves-effect waves-light black"><a ng-href="[[ product.link ]]">BUY</a></button>

    </div>

    </div>
</div>
</div>
